<!DOCTYPE html>
<html>
<body style="text-align:center; margin-top:100px;">

<a href="/logout"><button>Logout</button></a>

<h2>Spam Detector</h2>

<form action="/predict" method="post">
<textarea name="message" rows="5" cols="40"></textarea><br><br>
<button>Check</button>
</form>

{% if result %}
<h3>{{ result }}</h3>
{% endif %}

{% if confidence %}
<p>Confidence: {{ confidence }}%</p>
{% endif %}

{% if words %}
<p>Detected: {{ words }}</p>
{% endif %}

</body>
</html>